PORT=your_own_keys_or_values_without_quotes
NODE_ENV=your_own_keys_or_values_without_quotes
MONGO_URI=your_own_keys_or_values_without_quotes
JWT_SECRET=your_own_keys_or_values_without_quotes
REFRESH_TOKEN_SECRET=your_own_keys_or_values_without_quotes
REDIS_URL=your_own_keys_or_values_without_quotes